<h1>Editing Grade</h1>

<%= render 'form', grade: @grade %>

<%= link_to 'Show', course_evaluation_grade_path(@evaluation.course, @evaluation, @grade) %> |
<%= link_to 'Back', course_path(@evaluation.course) %>
